<div  style="width: 50rem;">
  <div >
    <h1 >This is about us.....</h1>
    <h6 ></h6>
    <p >Maecenas justo malesuada natoque nam porttitor pretium arcu laoreet. Hac inceptos vulputate himenaeos venenatis fermentum? Ipsum vel augue natoque facilisi pellentesque class habitasse magna suscipit semper magnis urna. Dis fusce sollicitudin primis sit consectetur morbi habitasse. Erat natoque vitae fermentum nullam iaculis mattis amet fermentum. Porttitor aptent integer, adipiscing cubilia. Egestas vulputate proin pretium dictumst nibh sapien tristique. Turpis mollis dictumst pretium lectus nibh augue lectus. Ante sed gravida venenatis senectus tortor. Nam sociosqu nostra habitant. Vehicula accumsan accumsan magna malesuada sagittis! Tortor rutrum ac accumsan torquent sed integer lacus commodo vestibulum. Fringilla pretium torquent venenatis sed tristique.</p>
 
   

  </div>
</div>